body {
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    color: #333;
    background-color: #f2f2f2;
    margin: 0;
}

#header {
    overflow: hidden;
    position: relative;
    background-color: #FFE59A;
    color: #fff;
    padding: 20px 0;
}

#logo {
    float: left;
    margin: 0;
}

#logo a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

#menu {
    float: right;
    background-color: #FFE59A;
    margin-top: 20px;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

#menu ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    display: block;
    padding: 10px;
}

#menu ul li:hover {
    transform: scale(1.1);
}

#menu ul li:hover a {
    color: #ffffff;
}

#page {
    position: relative;
    min-height: 100vh;
    z-index: 2;
}

#banner {
    margin-top: -140px;
    text-align: center;
    background: url('img/LogoSample_ByTailorBrands.jpg') no-repeat center center fixed;
    background-size: cover;
    margin-left: 820px;
    position: fixed;
    z-index: 1;
}

#footer {
    background: #FFE59A;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
}
/* Adicione este bloco de estilos ao seu arquivo CSS */
/* Adicione ou ajuste esses estilos no seu arquivo CSS */

/* ... outros estilos ... */

/* Estilo para o formulário de login */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

form input[type="password"],
form input[type="text"] {
    border-color: #ddd;
}

form input[type="password"]:focus,
form input[type="text"]:focus {
    border-color: #3498db;
}

form input[type="submit"],
form input[type="reset"] {
    background-color: #FFE59A; /* Cor igual à do menunav */
    color: #333; /* Cor do texto */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
    background-color: #facc44; /* Cor ao passar o mouse, ajuste conforme necessário */
}
